<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>

    <link rel="stylesheet" href="travelzy_login.css">
</head>
<body>
    
    <section>

        <div class="left_side">
            <div class="border">
                <i class="title">Travelzy</i>
            </div>
        </div>

        <div class="right_side">

            <div class="box">
                <h4 class="login_header">Login</h4>
                <form action="/login" method="POST" class="validated-form" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" type="text" id="username" name="username" autofocus required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-success btn-block">Login</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>