<% layout('layouts/boilerplate') -%> 

<div class="container" style="background-color: lightblue; margin-bottom: 30px;">
    <div class="row">
        <h1 class="text-center" style="margin-top: 20px;">Add a New Place</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/new" method="post" id="form" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                <label class="form-label" for="title" style="font-weight: bold; font-size: 20px;">Title:</label>
                    <input type="text" name="title" id="title" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            
                <div class="mb-3">
                    <label class="form-label" for="location" style="font-weight: bold; font-size: 20px;">Location:</label>
                    <input type="text" name="location" id="location" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                
                <div class="mb-3">
                    <label class="form-label" for="price" style="font-weight: bold; font-size: 20px;">Entry fee:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" name="price" id="price" class="form-control" placeholder="0.00" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                
                
                <div class="mb-3">
                    <label class="form-label" for="description" style="font-weight: bold; font-size: 20px;">Description:</label>
                    <textarea type="text" name="description" id="description" class="form-control" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label" style="font-weight: bold; font-size: 20px;">Add Images</label>
                    <input class="form-control" type="file" name="image" id="formFileMultiple" multiple>
                </div>
                <!-- <div class="mb-3">
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label">Choose image(s)...</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>
                </div> -->
                
                <div class="c">
                    <button class="btn btn-success" type="submit" style="display: inline; margin-top: 20px; margin-bottom: 20px;">Submit</button>
                    <a style="display: inline; float: right;" href="/campgrounds"><button type="button" class="btn btn-outline-primary">Visit All Places</button></a>
                </div>
            </form>
        </div>
        
    </div>
</div>


